.box{
  display: flex;
  flex-direction: column;
}
.newsbox{
  display: flex;
  padding-top: 50px;
  padding-left:100px;
  width: 1300px;
  height: 400px; 
}
.slideimage{
  display: flex;
  height: 200px;
}
.matchbox{
  position: relative;
  top: -150px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.match{
  width: 60vw;
  height: 30vh;
  background-color: rgb(35, 235, 45);
  border-radius: 19px;
  margin-left: 300px;
  margin-bottom: 50px;
}