.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsbox {
  display: flex;
  padding-top: 50px;
  height: 500px;
  width: 90vw;
}
.slideimage {
  display: flex;
  height: 200px;
  object-fit: contain;
}
.matchbox {
  width: 100vw;
  position: relative;
  top: -250px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.match {
  width: 60vw;
  height: 30vh;
  background-color: #ffd32d;
  border-radius: 19px;
  margin-left: 300px;
  margin-bottom: 50px;
}
.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.righttopbar {
  display: flex;
}
.contestname {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 20px;
  font-weight: bold;
}
.lineups{
  position: relative;
  right: 30px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.midportion{
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 10vw;
  margin-top: 4vh;
}
.notificationicon1{
  position: relative;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
}
.middlebar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.team1{
  width: 20vw;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}
.team2{
  width: 20vw;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
}
.imageteam1 {
  height: 50px;
}
.imageteam2 {
  height: 50px;
}
.VS{
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.teamname{
  font-size: 16px;
  font-weight: bold;
}
.time{
  position: relative;
  right: 15px;
  font-weight: bold;
}
