.boxnavbar{
    display: flex;
    background-color: blueviolet;
    width:100vw;
    height:18vh;
}
.profile{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
    margin-left: 3vw;
    margin-top: 4vh;
    cursor: pointer;
}
.logoimage{
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
    margin-left: 35vw;
    margin-top: 2vh;
}
.box{
    display: flex;
    flex-direction: row;
}
.notificationicon{
    height: 2rem;
    margin-left: 27vw;
    margin-top: 6vh;
    color: black;
    cursor: pointer;
}
.walleticon{
    margin-top: 6vh;
    margin-left: 5vw;
    cursor: pointer;
}